/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(105, 103, 102);
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.header-line {
  background: linear-gradient(
    to right,
    rgba(255, 208, 7) 0%,
    rgba(255, 208, 7) 12.5%,
    rgba(192, 156, 221, 1) 62.5%,
    rgba(192, 156, 221, 1) 75%
  );
  height: 5px;
}

.container {
  width: 75%;
}

.navbar-toggler {
  border: 1px solid #e5e5e5;
}

.menu-icon {
  width: 2.5em;
  height: 1.5em;
  font-size: 1.25rem;
  color: #7f7f7f;
}

.navbar-nav .nav-link {
  padding-left: 10px;
  padding-right: 10px;
}

.collapse .navbar-nav .nav-item .nav-link .btn-login-as-vendor {
  background-color: rgb(73, 185, 117);
  height: 32px;
  padding: 0px 16px;
  font-size: 15px;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.collapse .navbar-nav .nav-item .nav-link.plus,
.collapse .navbar-nav .nav-item .nav-link.search,
.collapse .navbar-nav .nav-item .nav-link.fav,
.collapse .navbar-nav .nav-item .nav-link.cart,
.collapse .navbar-nav .nav-item .nav-link.login {
  display: flex;
  color: rgb(105, 103, 102);
}

.number {
  background-color: #7600d9;
  width: 20px;
  height: 20px;
  line-height: 17px;
}

.collapse .navbar-nav .nav-item .nav-link.plus {
  display: none;
}

p.text {
  font-size: 14px;
}

.dropdown {
  cursor: pointer;
}

.navbar .dropdown .dropdown-toggle {
  color: rgb(105, 103, 102);
  font-size: 15px;
}

.navbar .dropdown .dropdown-menu {
  /* float: unset;
  right: 0; */
  min-width: 57rem;
  top: 140%;
}

#website_categories .dropdown-item-direction {
  right: 7px;
  margin-top: 6px;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
}

.navbar .dropdown .dropdown-menu .dropdown-item.parent {
  cursor: pointer;
}

.navbar .dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  color: rgb(105, 103, 102);
  line-height: 28px;
}

.navbar .dropdown .dropdown-menu .dropdown-item.child {
  font-size: 13px;
}

.navbar .dropdown .dropdown-menu .child {
  margin-right: 0.7rem;
}

.footer .container .row h5 {
  color: rgb(54, 52, 51);
}

.footer .container .row .row .col div h3 {
  font-size: 16px;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}

.footer .container .row .row .col div p {
  font-size: 16px;
}

.footer .container .row p,
.footer .container .row .footer .container .row .col p {
  padding-bottom: 5px;
  color: rgb(105, 103, 102);
  font-size: 18px;
}

.footer .container .row p {
  font-size: 16px;
}

.footer .container .row .input-sub .whatsapp-input {
  height: 32px;
  padding: 10px;
  color: rgb(105, 103, 102);
}

.footer .container .row .input-sub .sub-btn {
  background: #7e57c6;
  cursor: pointer;
  border-radius: 2px;
  padding: 0 12px;
  font-size: 15px;
  margin-right: 8px;
  height: 32px;
}

.footer .container .row .text-social-media {
  font-size: 15px;
  line-height: 22px;
  margin-top: 20px;
}

.footer .container .row .icons-contact {
  font-size: 16px;
  width: 36px;
  height: 36px;
}

.footer .container .row .icons-contact .icon {
  padding: 12px;
  border-radius: 50%;
}

.footer .container .row .icons-contact .facebook-icon {
  background-color: #3c5a99;
}

.footer .container .row .icons-contact .instagram-icon {
  background-color: #815dc7;
  margin-right: 15px;
}

.footer .end-footer {
  color: rgb(105, 103, 102);
  font-size: 18px;
}

/* Query Media */

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .navbar .dropdown .dropdown-menu {
    min-width: 50rem;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: row;
  }
  .navbar .dropdown .dropdown-menu {
    min-width: 47rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .container {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar > .container {
    flex-direction: row-reverse;
  }

  p.text {
    font-size: 13px;
  }

  .dropdown {
    display: none;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar > .container {
    flex-direction: row-reverse;
  }

  p.text {
    font-size: 12px;
  }

  .dropdown {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .container {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar > .container {
    flex-direction: row-reverse;
  }

  .collapse .navbar-nav .nav-item .nav-link.plus {
    display: flex;
  }

  .collapse .navbar-nav .nav-item .nav-link.btn-plus {
    display: none;
  }

  p.text {
    font-size: 11px;
  }

  .dropdown {
    display: none;
  }
}
