/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(105, 103, 102);
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

.container {
  width: 75%;
  padding: 1em;
}

/* NavBar Section */

.header-line {
  background: linear-gradient(
    to right,
    rgba(255, 208, 7) 0%,
    rgba(255, 208, 7) 12.5%,
    rgba(192, 156, 221, 1) 62.5%,
    rgba(192, 156, 221, 1) 75%
  );
  height: 5px;
}

.container {
  width: 75%;
}

.navbar-toggler {
  border: 1px solid #e5e5e5;
}

.menu-icon {
  width: 2.5em;
  height: 1.5em;
  font-size: 1.25rem;
  color: #7f7f7f;
}

.navbar-nav .nav-link {
  padding-left: 10px;
  padding-right: 10px;
}

.collapse .navbar-nav .nav-item .nav-link .btn-login-as-vendor {
  background-color: rgb(73, 185, 117);
  height: 32px;
  padding: 0px 16px;
  font-size: 15px;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.collapse .navbar-nav .nav-item .nav-link.plus,
.collapse .navbar-nav .nav-item .nav-link.search,
.collapse .navbar-nav .nav-item .nav-link.fav,
.collapse .navbar-nav .nav-item .nav-link.cart,
.collapse .navbar-nav .nav-item .nav-link.login {
  display: flex;
  color: rgb(105, 103, 102);
}

.number {
  background-color: #7600d9;
  width: 20px;
  height: 20px;
  line-height: 17px;
}

.collapse .navbar-nav .nav-item .nav-link.plus {
  display: none;
}

p.text {
  font-size: 14px;
}

.dropdown {
  cursor: pointer;
}

.navbar .dropdown .dropdown-toggle {
  color: rgb(105, 103, 102);
  font-size: 15px;
}

.navbar .dropdown .dropdown-menu {
  /* float: unset;
      right: 0; */
  min-width: 57rem;
  top: 140%;
}

#website_categories .dropdown-item-direction {
  right: 7px;
  margin-top: 6px;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
}

.navbar .dropdown .dropdown-menu .dropdown-item.parent {
  cursor: pointer;
}

.navbar .dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  color: rgb(105, 103, 102);
  line-height: 28px;
}

.navbar .dropdown .dropdown-menu .dropdown-item.child {
  font-size: 13px;
}

.navbar .dropdown .dropdown-menu .child {
  margin-right: 0.7rem;
}

/* Home Page */

.container-fluid.main {
  background-image: url('../img/slider-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 360px;
  margin-top: 20px;
}

.container-fluid.main .welcome {
  width: 340px;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px 0px;
  padding: 25px;
  top: 15px;
  left: 200px;
}

.container-fluid.main .welcome .text-welcome {
  color: rgb(54, 52, 51);
  font-size: 24px;
  line-height: 40px;
}

.container-fluid.main .welcome .description {
  font-size: 14px;
  margin-bottom: 10px;
  color: #868e96;
}

.container-fluid.main .welcome form .inputs {
  color: rgb(54, 52, 51);
  font-size: 15px;
  line-height: 20px;
}

.container-fluid.main .welcome form .phone-number,
.container-fluid.main .welcome form .fullname {
  padding: 8px;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-top: 5px;
}

.container-fluid.main .welcome form .send {
  background-color: #7600d9;
  font-size: 17px;
  border-radius: 6px;
}

.categories {
  background-color: #f9f7f6;
}

.categories .container .explore-items {
  font-size: 22px;
  color: rgb(54, 52, 51);
}

.categories .container a {
  font-size: 14px;
  cursor: pointer;
  margin-top: 5px;
  color: rgb(105, 103, 102);
}

.categories .container .items {
  margin-top: 50px;
  cursor: pointer;
  padding-bottom: 5px;
  overflow-y: hidden;
}

.categories .container .items .item {
  width: 105px;
  height: 115px;
}

.categories .container .items .item a img {
  box-shadow: 0 4px 3px -2px grey;
}

.categories .container .items .item a .name-items {
  font-size: 12px;
  margin-top: 10px;
}

.items::-webkit-scrollbar {
  width: 8px;
  background-color: white;
  height: 10px;
}

.items::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 8px;
}

.items::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, #4182c3),
    color-stop(0.72, #4182c3),
    color-stop(0.86, #4182c3)
  );
}

.container-fluid.carding {
  background-color: #f9f7f6;
}

.container-fluid.carding .container .row .cols .card {
  box-shadow: rgb(0 0 0 / 25%) 0px 1px 0px 0px;
  border-radius: 4px;
}

.container-fluid.carding .container .row .cols .card a img.card-img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.container-fluid.carding .container .row .cols .card a .card-body {
  padding: 1.25rem;
}

.container-fluid.carding .container .row .cols .card a .card-body .card-title {
  margin-bottom: 0.75rem;
  color: rgb(54, 52, 51);
  font-size: 1.25rem;
}

.container-fluid.advertising {
  background-color: #f9f7f6;
}

/* Product Page */

.advertising-home {
  background-image: url(../img/background-image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  border-radius: 4px;
}

.hr-top-header {
  margin-bottom: 0.8rem;
}

.container .nav-link {
  padding: 0.5rem 0;
}

.nav-link .links {
  color: #868e96;
}

.link:active,
.link:hover,
.link {
  color: rgb(105, 103, 102);
}

.links,
.link {
  font-size: 20px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #7c7b7b;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-size: 85% 85%;
  opacity: 1;
}

.carousel .carousel-inner .carousel-item {
  cursor: zoom-in;
}

.container .row .right-side .carousel .carousel-inner .carousel-item .image {
  height: 500px;
  background-color: #f9f7f6;
}

.counter-pages {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  cursor: default;
}

div h1.product-name {
  font-size: 40px;
  line-height: 48px;
  color: rgb(54, 52, 51);
}

.btns {
  width: 140px;
  color: rgb(54, 52, 51);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(154, 153, 153);
  height: 32px;
  padding: 0px 16px;
  font-size: 15px;
  line-height: 20px;
  border-radius: 4px;
  margin-right: 0.5em;
}

.price {
  color: rgb(105, 103, 102);
  font-size: 20px;
}

.price-number {
  font-size: 16px;
}

.vendor-name {
  margin-top: 1em;
  color: rgb(105, 103, 102);
  font-size: 1.2em;
}

.modal-footer .btn-login {
  cursor: pointer;
  background-color: #7600d9;
  border-color: #7600d9;
  color: #fff;
}

.description,
.attributes,
.additional-description {
  padding: 32px 24px;
  border-radius: 2px 2px 4px 4px;
  margin-bottom: 16px;
  border-width: 0px 1px 1px;
  border-color: rgb(205, 204, 204);
  border-style: solid;
  margin-top: 20px;
}

.description {
  box-shadow: rgb(216 176 142) 0px -4px;
}

.attributes {
  box-shadow: rgb(255 208 7) 0px -4px;
  font-size: 13px;
}

.additional-description {
  box-shadow: rgb(192 156 221) 0px -4px;
}

.color-black {
  color: rgb(54, 52, 51);
}

.container-fluid .more-items {
  background-color: #f9f7f6;
}

.more-items .card {
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgb(192 192 192);
  border-bottom: 1px solid rgb(239, 239, 239);
  padding: 16px;
  margin: 0 0.5rem;
}

.card .image {
  height: 163px;
  background-color: #f9f7f6;
  border-radius: 4px;
}

.image .card-img-top {
  border-radius: 4px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.card .card-body {
  padding: 10px;
}

.card .card-body .card-title {
  background-color: #ddd;
  padding: 5px;
  border-radius: 7px;
}

.card .card-body .sub-title {
  margin-bottom: 0.75rem;
}

.card .card-body .card-text {
  font-size: 12px;
}

.more-items .card .card-body .price {
  background-color: #f9f7f6;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
  color: rgb(54, 52, 51);
}

.card .card-body .discount-original-price {
  background-color: #f9f7f6;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
}

.card .card-body .discount {
  border-left: solid 1px;
  padding-left: 2px;
  border-color: #dddddd;
  color: rgb(54, 52, 51);
}

.more-items .card .card-body .original-price del {
  color: rgb(54, 52, 51);
}

.advertising-bottom {
  background-image: url(../img/bottom-adv.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  border-radius: 4px;
}

/* Login Page */

.login-section {
  margin-top: 5%;
}

.right-side {
  box-shadow: 15px 14px 25px rgb(199, 196, 196);
  padding: 1em;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 40%;
}

.left-side {
  margin-top: 0.5em;
}

.title-login {
  color: #696766;
  margin-top: 15px;
  font-size: 32px;
}

.input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.forget-password {
  font-size: 14px;
  color: inherit;
}

.btn-login {
  background-color: rgb(65, 130, 195);
  height: 48px;
  padding: 0px 16px;
  font-size: 17px;
  line-height: 26px;
  border-radius: 6px;
  margin: 2em 0 1em 0;
}

.btn-login:hover {
  background-color: rgb(37, 131, 224);
}

.donot-have-account {
  color: inherit;
  font-size: 14px;
}

/* Search Page */

.contianer-fluid.section-search {
  background-color: rgb(65, 130, 195);
  padding: 10px 0;
}

.contianer-fluid.section-search .container .form-group span.fa-search {
  top: 20px;
  right: 12px;
}

.contianer-fluid.section-search .container .form-control {
  padding-right: 2.375rem;
  height: 50px;
  border: none;
}

.categories .container .items {
  cursor: pointer;
  padding-bottom: 5px;
  overflow-y: hidden;
}

.categories .container .items .item {
  width: 105px;
  height: 115px;
}

.categories .container .items .item a img {
  box-shadow: 0 4px 3px -2px grey;
}

.categories .container .items .item a .name-items {
  font-size: 12px;
  margin-top: 10px;
}

.items::-webkit-scrollbar {
  width: 8px;
  background-color: white;
  height: 10px;
}

.items::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 8px;
}

.items::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, #4182c3),
    color-stop(0.72, #4182c3),
    color-stop(0.86, #4182c3)
  );
}

.container-fluid.products-section {
  background-color: #f9f7f6;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .filtering
  .dropdown
  .btn-filter {
  margin-right: 5px;
  border-color: #ced4da;
  background-color: transparent;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .filtering
  .dropdown
  ul.dropdown-menu {
  width: 185px;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .filtering
  .filter_price_from_to {
  border-right: solid 3px;
  padding-right: 3%;
  margin-right: 2%;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .products
  .card
  .row
  .col-md-3
  .image {
  width: 203px;
  height: 135px;
  background-color: #f9f7f6;
  border-radius: 8px;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .products
  .card
  .row
  .col-md-3
  .image
  .img-fluid {
  border-radius: 8px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .products
  .card
  .row
  .col-md-7
  .card-body
  .card-title {
  font-size: 15px;
  color: rgb(105, 103, 102);
}

.container-fluid.products-section
  .container
  .row
  .cols
  .products
  .card
  .row
  .col-md-7
  .card-body
  .card-title,
.container-fluid.products-section
  .container
  .row
  .cols
  .products
  .card
  .row
  .col-md-7
  .card-body
  .d-flex
  a
  .product-name:is(:hover, :focus) {
  cursor: pointer;
  border-bottom: 1px solid;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .products
  .card
  .row
  .col-md-7
  .card-body
  .d-flex
  .product-name {
  color: rgb(54, 52, 51);
  text-decoration-color: rgb(54, 52, 51);
  font-size: 17px;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .products
  .card
  .row
  .col-md-7
  .card-body
  .d-flex
  .supplier-name {
  cursor: pointer;
}

.modal-footer .btn-login {
  cursor: pointer;
  background-color: #7600d9;
  border-color: #7600d9;
  color: #fff;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .products
  .card
  .row
  .col-md-7
  .card-body
  .card-text
  .text-body {
  background-color: #f9f7f6;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-weight: bold;
  color: rgb(54, 52, 51);
}

.container-fluid.products-section
  .container
  .row
  .cols
  .products
  .card
  .row
  .col-md-1
  .icons
  .fa-heart {
  font-size: 32px;
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .products
  .card
  .row
  .col-md-1
  .icons
  .fa-heart:is(:hover, :focus) {
  color: red;
}

.product-adv img {
  border-radius: 2px;
}

.pagination {
  justify-content: center;
  align-items: center;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-item .page-link.page-1 {
  background: #666;
  color: #fff;
  border-color: #444;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
  cursor: default;
}

a.page-link.next {
  background: rgb(65, 130, 195);
}

a.page-link.next span {
  color: #fff;
}

.container-fluid.products-section .container .row .cols .ads-products {
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: rgb(0 0 0 / 25%) 0px 1px 0px 0px;
  background-color: white;
  border-radius: 4px;
}

.container-fluid.products-section .container .row .cols .ads-products .ads .ad {
  display: block;
  border-bottom: 1px solid rgb(239, 239, 239);
  padding: 16px 0px 4px;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .ads-products
  .ads
  .ad
  .image {
  width: 100%;
  height: 181px;
  background-color: #f9f7f6;
  border-radius: 4px;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .ads-products
  .ads
  .ad
  .image
  img {
  border-radius: 4px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .ads-products
  .ads
  .ad
  .descriptions {
  padding: 8px 0;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .ads-products
  .ads
  .ad
  .descriptions
  .d-flex
  .price,
.container-fluid.products-section
  .container
  .row
  .cols
  .ads-products
  .ads
  .ad
  .descriptions
  .d-flex
  .original-price
  del {
  color: rgb(54, 52, 51);
  font-weight: bold;
  font-size: 17px;
  line-height: 26px;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .ads-products
  .ads
  .ad
  .descriptions
  .d-flex
  .original-price {
  margin-right: 10px;
}

.container-fluid.products-section .container .row .cols .other-ads-products {
  border-radius: 2px;
  width: 100%;
  margin: auto;
  margin-bottom: 16px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 25%) 0px 1px 0px 0px;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .other-ads-products
  .text-center {
  background-color: #dfdede;
  color: black;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .other-ads-products
  .ads
  .ad
  .d-flex
  .image {
  width: 85px;
  height: 85px;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .other-ads-products
  .ads
  .ad
  .d-flex
  .image
  img {
  border-radius: 4px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .other-ads-products
  .ads
  .ad
  .d-flex
  .descriptions {
  margin-right: 10%;
  margin-top: 7%;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .other-ads-products
  .ads
  .ad
  .d-flex
  .descriptions
  .d-flex
  .price,
.container-fluid.products-section
  .container
  .row
  .cols
  .other-ads-products
  .ads
  .ad
  .d-flex
  .descriptions
  .d-flex
  .original-price
  del {
  color: rgb(54, 52, 51);
}

.container-fluid.products-section
  .container
  .row
  .cols
  .other-ads-products
  .ads
  .ad
  .d-flex
  .descriptions
  .d-flex
  .original-price {
  margin-right: 10px;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .other-ads-products
  .ads
  .ad
  .descriptions
  .name,
.container-fluid.products-section
  .container
  .row
  .cols
  .other-ads-products
  .ads
  .ad
  .descriptions
  .supplier-name {
  font-size: 13px;
  color: gray;
}

.container-fluid.products-section
  .container
  .row
  .cols
  .other-ads-products
  .ads
  .ad
  .details {
  font-size: 11px;
  padding-right: 12px;
  padding-left: 12px;
  color: rgb(54, 52, 51);
}

.container-fluid.products-section .container .row .cols .adv-call-center {
  border-radius: 4px;
  margin-bottom: 16px;
  width: 100%;
}

/* Footer Section */

.footer .container .row h5 {
  color: rgb(54, 52, 51);
}

.footer .container .row .row .col div h3 {
  font-size: 16px;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}

.footer .container .row .row .col div p {
  font-size: 16px;
}

.footer .container .row p,
.footer .container .row .footer .container .row .col p {
  padding-bottom: 5px;
  color: rgb(105, 103, 102);
  font-size: 18px;
}

.footer .container .row p {
  font-size: 16px;
}

.footer .container .row .input-sub .whatsapp-input {
  height: 32px;
  padding: 10px;
  color: rgb(105, 103, 102);
}

.footer .container .row .input-sub .sub-btn {
  background: #7e57c6;
  cursor: pointer;
  border-radius: 2px;
  padding: 0 12px;
  font-size: 15px;
  margin-right: 8px;
  height: 32px;
}

.footer .container .row .text-social-media {
  font-size: 15px;
  line-height: 22px;
  margin-top: 20px;
}

.footer .container .row .icons-contact {
  font-size: 16px;
  width: 36px;
  height: 36px;
}

.footer .container .row .icons-contact .icon {
  padding: 12px;
  border-radius: 50%;
}

.footer .container .row .icons-contact .facebook-icon {
  background-color: #3c5a99;
}

.footer .container .row .icons-contact .instagram-icon {
  background-color: #815dc7;
  margin-right: 15px;
}

.footer .end-footer {
  color: rgb(105, 103, 102);
  font-size: 18px;
}

/* Query Media */

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  /* Home Page */
  .navbar .dropdown .dropdown-menu {
    min-width: 50rem;
  }
  .container-fluid.main .welcome {
    left: 45px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  /* Home Page */

  .container {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar .dropdown .dropdown-menu {
    min-width: 47rem;
  }

  .container-fluid.main .welcome {
    left: 45px;
  }

  /* Product Page */

  .advertising-home,
  .advertising-bottom {
    height: 210px;
    width: 95%;
  }

  .links,
  .link {
    font-size: 16px;
  }
  div h1.product-name {
    font-size: 28px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  /* Home Page */

  .container {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar > .container {
    flex-direction: row-reverse;
  }

  p.text {
    font-size: 13px;
  }

  .dropdown-top {
    display: none;
  }

  .container-fluid.main .welcome {
    left: 45px;
  }

  /* Product Page */

  .advertising-home,
  .advertising-bottom {
    height: 156px;
    width: 95%;
  }

  .links,
  .link {
    font-size: 16px;
  }

  div h1.product-name {
    font-size: 28px;
  }

  /* Search Page */

  .filtering {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 16px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  /* Home Page */

  .container {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar > .container {
    flex-direction: row-reverse;
  }

  p.text {
    font-size: 12px;
  }

  .dropdown-top {
    display: none;
  }

  .container-fluid.main .welcome {
    left: 140px;
  }

  /* Product Page */

  .advertising-home,
  .advertising-bottom {
    height: 104px;
    width: 95%;
  }

  .links,
  .link {
    font-size: 16px;
  }

  .container .row .left-side {
    display: none;
  }

  div h1.product-name {
    font-size: 24px;
  }

  /* Login Page */

  .right-side {
    width: 100%;
  }

  /* Search Page */

  .filtering {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 16px;
  }
}

@media screen and (max-width: 575px) {
  /* Home Page */

  .container {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar > .container {
    flex-direction: row-reverse;
  }

  .collapse .navbar-nav .nav-item .nav-link.plus {
    display: flex;
  }

  .collapse .navbar-nav .nav-item .nav-link.btn-plus {
    display: none;
  }

  p.text {
    font-size: 11px;
  }

  .dropdown-top {
    display: none;
  }

  .container-fluid.main .welcome {
    left: 85px;
  }

  /* Product Page */

  .advertising-home,
  .advertising-bottom {
    height: 104px;
    width: 95%;
  }

  .links,
  .link {
    font-size: 16px;
  }

  .container .row .left-side {
    display: none;
  }

  div h1.product-name {
    font-size: 24px;
  }

  /* Login Page */

  .right-side {
    width: 100%;
  }

  /* Search Page */

  .filtering {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 16px;
  }
}
