/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(105, 103, 102);
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

/* NavBar Section */

.header-line {
  background: linear-gradient(
    to right,
    rgba(255, 208, 7) 0%,
    rgba(255, 208, 7) 12.5%,
    rgba(192, 156, 221, 1) 62.5%,
    rgba(192, 156, 221, 1) 75%
  );
  height: 5px;
}

.container {
  width: 75%;
}

.navbar-toggler {
  border: 1px solid #e5e5e5;
}

.menu-icon {
  width: 2.5em;
  height: 1.5em;
  font-size: 1.25rem;
  color: #7f7f7f;
}

.navbar-nav .nav-link {
  padding-left: 10px;
  padding-right: 10px;
}

.collapse .navbar-nav .nav-item .nav-link .btn-login-as-vendor {
  background-color: rgb(73, 185, 117);
  height: 32px;
  padding: 0px 16px;
  font-size: 15px;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.collapse .navbar-nav .nav-item .nav-link.plus,
.collapse .navbar-nav .nav-item .nav-link.search,
.collapse .navbar-nav .nav-item .nav-link.fav,
.collapse .navbar-nav .nav-item .nav-link.cart,
.collapse .navbar-nav .nav-item .nav-link.login {
  display: flex;
  color: rgb(105, 103, 102);
}

.number {
  background-color: #7600d9;
  width: 20px;
  height: 20px;
  line-height: 17px;
}

.collapse .navbar-nav .nav-item .nav-link.plus {
  display: none;
}

p.text {
  font-size: 14px;
}

.dropdown {
  cursor: pointer;
}

.navbar .dropdown .dropdown-toggle {
  color: rgb(105, 103, 102);
  font-size: 15px;
}

.navbar .dropdown .dropdown-menu {
  /* float: unset;
  right: 0; */
  min-width: 57rem;
  top: 140%;
}

#website_categories .dropdown-item-direction {
  right: 7px;
  margin-top: 6px;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
}

.navbar .dropdown .dropdown-menu .dropdown-item.parent {
  cursor: pointer;
}

.navbar .dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  color: rgb(105, 103, 102);
  line-height: 28px;
}

.navbar .dropdown .dropdown-menu .dropdown-item.child {
  font-size: 13px;
}

.navbar .dropdown .dropdown-menu .child {
  margin-right: 0.7rem;
}

.advertising-home {
  background-image: url(../img/background-image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  border-radius: 4px;
}

.hr-top-header {
  margin-bottom: 0.8rem;
}

.container .nav-link {
  padding: 0.5rem 0;
}

.nav-link .links {
  color: #868e96;
}

.link:active,
.link:hover,
.link {
  color: rgb(105, 103, 102);
}

.links,
.link {
  font-size: 20px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #7c7b7b;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-size: 85% 85%;
  opacity: 1;
}

.carousel .carousel-inner .carousel-item {
  cursor: zoom-in;
}

.container .row .right-side .carousel .carousel-inner .carousel-item .image {
  height: 500px;
  background-color: #f9f7f6;
}

.counter-pages {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  cursor: default;
}

div h1.product-name {
  font-size: 40px;
  line-height: 48px;
  color: rgb(54, 52, 51);
}

.btns {
  width: 140px;
  color: rgb(54, 52, 51);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(154, 153, 153);
  height: 32px;
  padding: 0px 16px;
  font-size: 15px;
  line-height: 20px;
  border-radius: 4px;
  margin-right: 0.5em;
}

.price {
  color: rgb(105, 103, 102);
  font-size: 20px;
}

.price-number {
  font-size: 16px;
}

.vendor-name {
  margin-top: 1em;
  color: rgb(105, 103, 102);
  font-size: 1.2em;
}

.modal-footer .btn-login {
  cursor: pointer;
  background-color: #7600d9;
  border-color: #7600d9;
  color: #fff;
}

.description,
.attributes,
.additional-description {
  padding: 32px 24px;
  border-radius: 2px 2px 4px 4px;
  margin-bottom: 16px;
  border-width: 0px 1px 1px;
  border-color: rgb(205, 204, 204);
  border-style: solid;
  margin-top: 20px;
}

.description {
  box-shadow: rgb(216 176 142) 0px -4px;
}

.attributes {
  box-shadow: rgb(255 208 7) 0px -4px;
  font-size: 13px;
}

.additional-description {
  box-shadow: rgb(192 156 221) 0px -4px;
}

.color-black {
  color: rgb(54, 52, 51);
}

.container-fluid .more-items {
  background-color: #f9f7f6;
}

.more-items .card {
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgb(192 192 192);
  border-bottom: 1px solid rgb(239, 239, 239);
  padding: 16px;
  margin: 0 0.5rem;
}

.card .image {
  height: 163px;
  background-color: #f9f7f6;
  border-radius: 4px;
}

.image .card-img-top {
  border-radius: 4px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.card .card-body {
  padding: 10px;
}

.card .card-body .card-title {
  background-color: #ddd;
  padding: 5px;
  border-radius: 7px;
}

.card .card-body .sub-title {
  margin-bottom: 0.75rem;
}

.card .card-body .card-text {
  font-size: 12px;
}

.more-items .card .card-body .price {
  background-color: #f9f7f6;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
  color: rgb(54, 52, 51);
}

.card .card-body .discount-original-price {
  background-color: #f9f7f6;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
}

.card .card-body .discount {
  border-left: solid 1px;
  padding-left: 2px;
  border-color: #dddddd;
  color: rgb(54, 52, 51);
}

.more-items .card .card-body .original-price del {
  color: rgb(54, 52, 51);
}

.advertising-bottom {
  background-image: url(../img/bottom-adv.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  border-radius: 4px;
}

/* Footer Section */

.footer .container .row h5 {
  color: rgb(54, 52, 51);
}

.footer .container .row .row .col div h3 {
  font-size: 16px;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}

.footer .container .row .row .col div p {
  font-size: 16px;
}

.footer .container .row p,
.footer .container .row .footer .container .row .col p {
  padding-bottom: 5px;
  color: rgb(105, 103, 102);
  font-size: 18px;
}

.footer .container .row p {
  font-size: 16px;
}

.footer .container .row .input-sub .whatsapp-input {
  height: 32px;
  padding: 10px;
  color: rgb(105, 103, 102);
}

.footer .container .row .input-sub .sub-btn {
  background: #7e57c6;
  cursor: pointer;
  border-radius: 2px;
  padding: 0 12px;
  font-size: 15px;
  margin-right: 8px;
  height: 32px;
}

.footer .container .row .text-social-media {
  font-size: 15px;
  line-height: 22px;
  margin-top: 20px;
}

.footer .container .row .icons-contact {
  font-size: 16px;
  width: 36px;
  height: 36px;
}

.footer .container .row .icons-contact .icon {
  padding: 12px;
  border-radius: 50%;
}

.footer .container .row .icons-contact .facebook-icon {
  background-color: #3c5a99;
}

.footer .container .row .icons-contact .instagram-icon {
  background-color: #815dc7;
  margin-right: 15px;
}

.footer .end-footer {
  color: rgb(105, 103, 102);
  font-size: 18px;
}

/* Query Media */

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  div h1.product-name {
    font-size: 32px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .advertising-home,
  .advertising-bottom {
    height: 210px;
    width: 95%;
  }

  .links,
  .link {
    font-size: 16px;
  }
  div h1.product-name {
    font-size: 28px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .container {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar > .container {
    flex-direction: row-reverse;
  }

  p.text {
    font-size: 13px;
  }

  .advertising-home,
  .advertising-bottom {
    height: 156px;
    width: 95%;
  }

  .links,
  .link {
    font-size: 16px;
  }

  div h1.product-name {
    font-size: 28px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar > .container {
    flex-direction: row-reverse;
  }

  p.text {
    font-size: 12px;
  }

  .advertising-home,
  .advertising-bottom {
    height: 104px;
    width: 95%;
  }

  .links,
  .link {
    font-size: 16px;
  }

  .container .row .left-side {
    display: none;
  }

  div h1.product-name {
    font-size: 24px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar > .container {
    flex-direction: row-reverse;
  }

  .collapse .navbar-nav .nav-item .nav-link.plus {
    display: flex;
  }

  .collapse .navbar-nav .nav-item .nav-link.btn-plus {
    display: none;
  }

  p.text {
    font-size: 11px;
  }

  .advertising-home,
  .advertising-bottom {
    height: 104px;
    width: 95%;
  }

  .links,
  .link {
    font-size: 16px;
  }

  .container .row .left-side {
    display: none;
  }

  div h1.product-name {
    font-size: 24px;
  }
}
